@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="input-group">
    <input @ref="InputRef"
           class="@CssClass"
           @bind="VideoId"
           @onkeydown="HandleKeyDown"
           placeholder="@placeholder" />
    <button class="btn btn-outline-light" @onclick="LaunchAsync">↩️</button>
</div>
@code {
    private ElementReference InputRef; // Declare the reference here

    [Parameter]
    public string CssClass { get; set; } = "form-control input-lg";

    [Parameter]
    public string placeholder { get; set; }

    public string VideoId { get; set; }

    private async Task LaunchAsync()
    {
        NavigationManager.NavigateTo($"/video?q={VideoId}");
        StateHasChanged();
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await JSRuntime.InvokeVoidAsync("blurElement", InputRef);
            await LaunchAsync();
        }
    }
}