@page "/video"

@if (!string.IsNullOrEmpty(videoId))
{
    <iframe width="560" height="315" src="@($"https://www.youtube.com/embed/{videoId}")" frameborder="0" allowfullscreen></iframe>
}
else
{
    <p>No video selected.</p>
}

@code {
    [SupplyParameterFromQuery(Name = "q")]
    public string videoId { get; set; }
}